include /components/button/btn-text-icon
include /components/button/btn-curve
include /components/button/btn-default

mixin c-block({ progressPercent, progressSteps, isDone, category, labelText, cardTitle, cardText, btnText, isBtnDisabled, className })
  arrticle.c-block(class=isDone && "done" class=className)
    .c-block__status
    .c-block__top
      .c-block__progress
        .c-block__chart(style=`--p: ${progressPercent}`)
        .c-block__percent #{progressPercent}%
        .c-block__steps=progressSteps
      .c-block__count
        if brand !== ""
          +svg({ name: "graph-fill", width: 32, height: 32 })
        else
          +svg({ name: "graph", width: 32, height: 32 })
        span=category
    .c-block__content
      .c-block__label=labelText
      .c-block__title=cardTitle
      .c-block__text=cardText
    if isDone
      if brand !== ""
        .c-block__btn
          +btn-text-icon({ icon: "pen", text: btnText })
      else
        .c-block__btn-curve
          +btn-curve({ type1: "edit" })
    else
      if brand !== ""
        .c-block__btn
          +btn-default({
            text: btnText,
            isDisabled: isBtnDisabled,
            className: brand === "megafon" && "rounded"
          })
      else
        .c-block__btn-curve
          +btn-curve({ isDisabled: isBtnDisabled })
